<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="/css/main.css">
    <link href="https://fonts.googleapis.com/css?family=Work+Sans:300,400,500,600,700,800,900" rel="stylesheet">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <title>Omocat</title>
</head>

<body id="checkoutBody">

    <nav class="globalNav reveal">
        <img class="icon" src="/img/brand/icon.png" alt="">
        <a href="/home" class="typoLogo">Omocat</a>
        <a href="/store" class="menuOptions">store</a>
        <a href="#" class="menuOptions">artwork</a>
        <a href="#" class="menuOptions">us</a>
        <a href="#" class="menuOptions">contact</a>
                <a href="/" class="menuOptions">Viz</a>

        <div class="filler"></div>
        <a href="checkout">
            <div class="carritoview">
                <img src="img/cart.svg" alt="">
            </div>
            <div class="carrito">0</div>
        </a>
    </nav>

    <div class="container">

        <section class="cart">
            <div class="left reveal">
                <h1 class="title shadow">SHOPPING</h1>
                <h1 class="title overshadow">CART</h1>

                <div class="rect"></div>
                <ul class="lista"></ul>

                <hr/>
                <div class="sub_div">
                    <p>Subtotal</p>
                    <p class="subtotal"></p>

                </div>
                <div class="ship_div">
                    <p>Shipping</p>
                    <p>$ 5.00</p>

                </div>

                <hr/>
                <div class="total_div">
                    <h3>TOTAL</h3>
                    <h3 class="total"></h3>
                </div>

            </div>
            <div class="right reveal">
                <h3>Contact information</h3>
                <input class="longInput" type="text" name="" placeholder="Email" id="">
                <h3>Shipping address</h3>
                <input class="shortInput" type="text" name="" placeholder="Name" id="">
                <input class="shortInput" type="text"  name="" placeholder="Lastname" id="">
                <input class="blockInput" type="text" name="" placeholder="Address" id="">
                <input  class="blockInput" type="text" name="" placeholder="Country" id="">
                <input   class="blockInput" type="text" name="" placeholder="Phone" id="">
              <a href="/home">  <button class="submit mainBtn"> SUBMIT</button></a>
            </div>
        </section>


    </div>

    <script src="https://unpkg.com/scrollreveal/dist/scrollreveal.min.js"></script>

    <script src='js/cliente.js'></script>
    <script src='js/checkout.js'></script>
</body>

</html>