<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="css/main.css">
    <link href="https://fonts.googleapis.com/css?family=Work+Sans:300,400,500,600,700,800,900" rel="stylesheet">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <title>Document</title>
</head>

<body>
    <nav class="globalNav">
        <img class="icon" src="img/brand/icon.png" alt="">
        <a href="/" class="typoLogo">Omocat</a>
        <a href="#" class="menuOptions">clothing</a>
        <a href="#" class="menuOptions">artwork</a>
        <a href="#" class="menuOptions">us</a>
        <a href="#" class="menuOptions">contact</a>
        <div class="filler"></div>
        <a href="checkout">
            <div class="carritoview">
                <img src="img/cart.svg" alt="">
            </div>
            <div class="carrito">0</div>
        </a>
    </nav>
    <section class="container">
        {{#each prod}}
        <div>
            <img src="{{this.img_principal}}" alt="">
            <h5>{{nombre}}</h5>
            <p>{{artista}}</p>
            <p>{{precio}}</p>
        </div>
        {{/each}}
    </section>
</body>

</html>