<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="/css/main.css">
    <title>Omocat Viz</title>
</head>

<body>

    <nav class="vizNav reveal">
        <img class="icon" src="img/brand/icon.png" alt="">
        <a href="/home" class="typoLogo">Omocat <span>viz</span></a>
    </nav>
    <div class="container">
        <section class="catsection">
            <div class="viztitle reveal">
                <h1>Welcome </h1>
                <p>Look for the best of best illustrators</p>
            </div>
            
            <div class="viz_filters reveal">
                <button id="comicBook"class="vizbtn mainBtn">ComicBook</button>
                <button  id="Animation"class="vizbtn mainBtn">Animation</button>
                <button  id="CartoonCharacter"class="vizbtn mainBtn">CartoonCharacter</button>
                <button  id="all"class="vizbtn mainBtn">All</button>
            </div>
            <div id="cat-viz">
            </div>

        </section>

        <section class="mapsection reveal">

            <div class="viztitle  map">
                <h1>Our artist's home</h1>
                <p>Look for the best of best illustrators</p>
            </div>


            <div id="map-viz">
            </div>

        </section>
        <div class="viztitle reveal">
            <h1>That's all folks</h1>
            <p>for now...</p>
        </div>
        <a href="/home" class="visit-viz reveal">
            <div id="visit-viz" class="reveal">
            </div>
        </a>
            <div id="tooltip" class="hidden">
                <div class="colorheader">

                </div>
                <div class="content">
                    <p>
                        <strong>
                            <span id="value">100</span>
                        </strong>
                    </p>

                    <p>
                        <span id="value2">100</span>
                    </p>
                </div>

            </div>

    </div>

    <script src="https://unpkg.com/scrollreveal/dist/scrollreveal.min.js"></script>
    <script src="https://d3js.org/d3.v3.min.js"></script>
    <script src="https://d3js.org/topojson.v1.min.js"></script>
    <script src='/js/viz.js'></script>
</body>

</html>